/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp C_VOLUME_UP    &kp Q  &kp W  &kp E           &kp R      &kp T                         &kp Y                 &kp U      &kp I       &kp O    &kp P     &kp AT_SIGN
&kp C_VOLUME_DOWN  &kp A  &kp S  &kp D           &kp F      &kp G                         &kp H                 &kp J      &kp K       &kp L    &kp SEMI  &kp SQT
&kp K_PLAY_PAUSE   &kp Z  &kp X  &kp C           &kp V      &kp B                         &kp N                 &kp M      &kp COMMA   &kp DOT  &kp FSLH  &kp EXCLAMATION
                                 &lt 2 CAPSLOCK  &lt 1 TAB  &mt LEFT_COMMAND BACKSPACE    &mt LEFT_SHIFT SPACE  &kp ENTER  &kp ESCAPE
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp K_FORWARD  &none   &none           &kp UP_ARROW  &kp PAGE_UP    &none     &kp RS(DOLLAR)         &kp N7            &kp N8             &kp N9        &kp N0     &kp PERCENT
&kp K_MUTE     &none   &kp LEFT_ARROW  &kp DOWN      &kp RIGHT      &none     &kp LEFT_PARENTHESIS   &kp NUMBER_4      &kp NUMBER_5       &kp NUMBER_6  &kp PLUS   &kp ASTERISK
&kp K_BACK     &trans  &trans          &kp K_UNDO    &kp PAGE_DOWN  &none     &kp RIGHT_PARENTHESIS  &kp N1            &kp NUMBER_2       &kp NUMBER_3  &kp MINUS  &kp SLASH
                                       &trans        &trans         &trans    &kp HASH               &kp LEFT_BRACKET  &kp RIGHT_BRACKET
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&none  &kp BACKSLASH  &kp AT        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp CARET        &trans  &kp F7  &kp F8  &kp F9  &kp F12  &trans
&none  &kp PIPE       &kp RS(HASH)  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERCENT      &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
&none  &trans         &kp DOLLAR    &kp EXCLAMATION       &kp RS(ASTRK)          &kp AMPERSAND    &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                                    &trans                &trans                 &trans           &trans  &trans  &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
